API_KEY="<API_KEY>"                 # Type String, Required
CALLBACK_URL="<CALLBACK_URL>"       # Type String, Required
SENTRY_DSN="<SENTRY_DSN>"           # Type String, Not Required
RESET_KEY="<RESET_KEY>"             # Type String, Not Required
PRIVATE_PEM_KEY="<PRIVATE_PEM_KEY>" # Type String, Not Required unless using Flows feature of WhatsApp